@model ICollection<EasyLife.Domain.ViewModels.AdvertisementViewModel>
@{
    ViewData["Title"] = "Index";
}


<div class="text-center">
    <h1 class="display-4">Moderate users ads</h1>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Business Name</th>
            <th scope="col">Url</th>
            <th scope="col">Creator</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < @Model.Count; i++)
    {
        var currentAd = @Model.ToList()[i];
        string[] status ={currentAd.ExpirationDate < DateTime.UtcNow ? "Inactive" : "Active"};

        <tr>
            <th scope="row">@(i + 1)</th>
            <td>@currentAd.BusinessName</td>
            <td><a href="@currentAd.Url" id="textDecorationNone">@currentAd.Url</a></td>
            <td>@currentAd.Creator.Nickname</td>
            <td><a href="/Advertisement/Details/@currentAd.Id" class="btn btn-success">Details</a></td>
            <td><a href="/Advertisement/Delete/@currentAd.Id" class="btn btn-danger">Delete</a></td>
        </tr>
    }
    </tbody>
</table>