@using EasyLife.Domain.GlobalConstants
@model ICollection<EasyLife.Domain.ViewModels.EmployeeViewModel>
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">Easy<span class="text-success">Life</span><img src="~/images/logo.png" alt="logo" id="logoStyle"></h1>
</div>
<hr class="bg-success" />

<form>
    <div class="text-left">
        <h4>We are here to make your life easier and more green.</h4>
    </div>
    <br />
    <div class="text-right">
        <h4>We are here to present the world our awesome services.</h4>
    </div>
    <br />
    <div class="text-left">
        <h4>Just call us today and your yard or business building will look like paradise.</h4>
    </div>
    <br />
    <div class="text-right">
        <h4>Don't waste time - green the world today.</h4>
    </div>
</form>
<hr class="bg-success" />
<section id="team" class="team content-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="display-4">Our Team</h2>
                <h3 class="caption gray">Meet the people who make your life easier and more green</h3>
            </div>

            <div class="container">
                <div class="row">
                        @foreach (var employee in Model)
                        {
                            if (!employee.IsFired)
                            {
                                <div class="col-md-4">
                                    <div class="team-member">
                                        <figure>
                                            <img src="@employee.ProfilePictureUrl" alt="" class="img-fluid">
                                            <figcaption>
                                                <p>@employee.ShortDescription</p>
                                                <ul>
                                                    <li><a href="@employee.FacebookUrl" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                                                </ul>
                                            </figcaption>
                                        </figure>
                                        <h4>@employee.FullName</h4>
                                        <p>@employee.JobPosition</p>
                                        @if (User.IsInRole(RoleType.Administrator))
                                        {
                                            <a class="btn btn-danger text-white" onclick="fireEmployee(@employee.Id)">Fire employee</a>
                                        }
                                    </div>
                                </div>
                            }
                        }
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="bg-success" />
<div class="text-center">
    <h1 class="display-4 mb-5">Contact us</h1>
</div>
<div class="cont">
    <ul class="contact">
        <li style="text-align: left;">
            <p><i class="fa fa-map-marker fa-3x"></i></p>
            <p><strong>Bulgaria</strong><br />Sofia</p>
        </li>
        <li style="text-align: left;">
            <p><i class="fa fa-phone fa-3x"></i></p>
            <p><strong>Phone:</strong><br/>+359 (69) 666-420</p>
        </li>
        <li style="text-align: left;">
            <p><i class="fa fa-envelope fa-3x"></i></p>
            <p><strong>E-mail:</strong><br />easylife@gmail.com</p>
        </li>
    </ul>
</div>

@section Styles{
    <link href="~/css/aboutUs.css" rel="stylesheet" />
}
@section Scripts
    {

    <script src="~/js/aboutUs.js"></script>
}
